.dropdown a {
    text-decoration: none;
    font-size: 1.5rem;
}

.lista {
    list-style-type:none;
    margin-top: 1rem;
}

.btn-dark {
    margin: 1rem;
}

.boton-index {
    font-size: 1rem;
    margin: 0;
}