.formulario-transfer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor-form{
    box-shadow: 16px 10px 30px -17px rgba(0,0,0,0.3);
    padding: 1rem;
    background-color: lightgray;
    margin: 2rem;
    border-radius: 25px;
    margin: 2rem;
    text-align: center;
}

.boton-transferencia{
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: darkblue;
    width: 40%;
    align-self: center;
}